div {
    text-align: center;
}

button {
    padding:  10px 30px;
    margin-right:15px;
    border-radius: 5px;
    box-shadow: 0 5px 10px 2px #4682B4;
}
button:hover,
button:focus {
    transform: scale(1.08);
    border: 1px solid #4169E1;
    outline: none;
    box-shadow: 0 7px 14px 4px #4682B4;
}
.good {
    background-color: #87CEEB;
}